Package: com.noppelab.tweak.retryunlock
Name: RetryUnlock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Tomoya Hirano
Author: Tomoya Hirano
Section: Tweaks
